.layout {
  z-index: 1;
  .content {
    display: flex;
    height: 100vh;
    flex-direction: column;

    .main-content {
      height: 100vh;
      padding: 60px 0rem 1rem 0rem;
      background-color: #e8eff9;
    }
  }

  .footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 20px;
  }
}
