.layout {
  z-index: 1;
  .content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    .main-content {
      height: calc(100vh - 60px);
      margin-top: 55px;
      background-color: #e8eff9;
      overflow-y: auto;
    }
    .header-content {
      position: sticky;
      background-color: #e8eff9;
      top:8px;
      z-index: 2000;
    }
    .content-main {
      padding-bottom: 1rem;
    }
  }

  .footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 20px;
  }
}
