$text-color: #7d84ab;
$active-text-color: #4eb449;
$secondary-text-color: #dee2ec;
$bg-color: #181824;
$secondary-bg-color: #0b1a2c;
$border-color: rgba(#535d7d, 0.3);
$sidebar-header-height: 60px;
$sidebar-footer-height: 230px;
$header-text-color: #272525;
$header-icon-color: #323131;
$red-color: #fc5a5a;
